@media (min-width:990px) {
    body {
        margin: 0px;
        padding: 0px;
    }

    .welcome {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: span;
        grid-area: auto;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 100px; 
        height: 70vh;
        max-width: 1200px;
    


    }

    .welcome-image img {
        width: 100%;
        padding: 10px ;
        margin: 0px;
        
    }

    .welcome-intro{
        text-align: start;
        width: 100%;
        
    }

    .welcome-intro p{
        width: 100%;
        
    }
    .welcome-intro button {
        background-color: var(--main-green);
        color: white;
        padding: 10px;
        border: 0;
        border-radius: 10px;
    }

    .welcome-intro button a {
        color: white;
    }

    .introcard {
        margin-top: 100px;
        background-color: var(--lighter-green);
        display: flex;
        flex-direction: row;
    }


    .testcard {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-gap: 20px;
        margin: 20px;

    }
        .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
        }

                footer {
                    background-color: #262626;
                    margin: 0%;
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    padding: 80px;
                    justify-content: space-around;
        
                    color:white;
        
        
                }

                .menu{
                    display: none;
                }

                .lmenu{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .lmenu ul{
                    display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                }

                .lnav{
                    width: 95%;
                        padding-left: 30px;
                }

                                .grid {
                                    height: 20em;
                                }
                
}


